@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;400;500;600;700;800;900&display=swap');


body{
    background-color: #f7fbee;
    /* background-color: #fff; */
    font-family: var(--base-font-family);
    font-weight: 500;
}

a{
    text-decoration: none;
    color: rgb(70, 69, 69);
}
a:hover{
    color: rgb(70, 69, 69);
}

.container{
    background-color: #f7fbee;
    padding: 10px;
    margin-bottom: 40px;
}

.content-info{
     display: flex; 
     border: 0;
     padding-left: 30px;
     padding-right: 30px;
     justify-content: center;
     align-items: center;    
}


.card{
    border-radius: 30px;
}

.bi-star-fill{
    color: #FCB502;
}

.stars{
    background-color:  #FFFBF0;
    /* width: 200px; */
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}


.card-img{
    width: 100%;
    border-radius: 20px;
    
}

.card-related{
    color: rgb(70, 69, 69);
    width: 250px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: var(--shadow-elevation-medium);
    height: 500px;
    transition: 0.2s;
    margin-bottom: 20px;
    border: none;
}

.card-related:hover{
    transform: scale(1.01);
    box-shadow: var(--shadow-elevation-high);
}

.related-prof-content{
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px){
    .related-prof-content{
        background-color: black;
        display: flex;
        margin-right: 5px;
        margin-left: 5px;
        border-radius: 20px;
    }
}

.card-body-related > p{
    line-height: 1;
    font-size: 15px;
    text-align: left;
    margin-top: 5px;
    padding-bottom: 10px;
    line-height: 0.5cm;
}

.card-title-related{
    line-height: 0;
}

:root {
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low:
      -0.3px 0.4px 0.6px hsl(var(--shadow-color) / 0.11),
      -0.4px 0.7px 0.9px -1.2px hsl(var(--shadow-color) / 0.11),
      -1.1px 1.8px 2.4px -2.5px hsl(var(--shadow-color) / 0.11);
    --shadow-elevation-medium:
      -0.3px 0.4px 0.6px hsl(var(--shadow-color) / 0.11),
      -0.9px 1.5px 2px -0.8px hsl(var(--shadow-color) / 0.11),
      -2.2px 3.7px 4.8px -1.7px hsl(var(--shadow-color) / 0.11),
      -5.5px 9.1px 12px -2.5px hsl(var(--shadow-color) / 0.11);
    --shadow-elevation-high:
      -0.3px 0.4px 0.6px hsl(var(--shadow-color) / 0.11),
      -1.6px 2.7px 3.5px -0.4px hsl(var(--shadow-color) / 0.11),
      -3px 5.1px 6.7px -0.7px hsl(var(--shadow-color) / 0.11),
      -5px 8.4px 11px -1.1px hsl(var(--shadow-color) / 0.11),
      -8px 13.4px 17.6px -1.4px hsl(var(--shadow-color) / 0.11),
      -12.5px 20.9px 27.4px -1.8px hsl(var(--shadow-color) / 0.11),
      -19.1px 31.8px 41.7px -2.1px hsl(var(--shadow-color) / 0.11),
      -28.1px 46.9px 61.5px -2.5px hsl(var(--shadow-color) / 0.11);

      --base-font-family: 'Libre Franklin',sans-serif;
  }


.search{
    margin-left: 20px;
    margin-right: 10px;
    display: -ms-flexbox; 
    display: flex;
    box-shadow: var(--shadow-elevation-medium);
    transition: 0.2s;
}

.search:hover{
    transform: scale(1.02);
}

.search-subject{
    color: gray;
    width: 100%;
    font-size:20px;
    padding: 5px;
    outline: none;
    border: none;   
    appearance: none;
}

.location{
    margin-right: 10px;
    display: -ms-flexbox; 
    display: flex;
    box-shadow: var(--shadow-elevation-medium);
    transition: 0.2s;
}

.location:hover{
    transform: scale(1.02);
}

.search-location{
    color: grey;
    width: 100%;
    font-size:20px;
    padding: 5px;
    outline: none;
    border: none;
    appearance: none;
}

.search-button{
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color: #FCB502;
    color: white;
    font-weight: 800;
    width: 50px;
    box-shadow: var(--shadow-elevation-medium);
    transition: 0.2s;
    height: 100%;
    border-radius: 8px;
}

.prueba{
    background: url(images/logo.jpeg) no-repeat scroll 7px 7px;
    padding-left:30px;
}

.search-button:hover{
    transform: scale(1.05);
    color: black;
}

.search-container{
    margin-top: 40px;
    margin-bottom: 20px;
    
}

.search-title{
    /* background-color: blue; */
    padding-left: 50px;
    margin-bottom: 0px;
}

.search-title > h1{
    font-size: 2rem;
    font-weight: 600;
}

.content-related-prof{
    /* background-color: green; */
    margin-top: 0px;
    
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    /* width: 100%; */
    margin-bottom: 15px;
  }
  
  .icon {
    padding: 10px;
    background: #fff;
    color: gray;
    border: none;
    border-right:none;
    min-width: 50px;
    text-align: center;
    font-size:20px;
    font-weight: 800;
  }

  .icon:hover{
    color:#FCB502;
  }

  

  .search:hover .icon{
    color:#FCB502
  }

  .location:hover .icon{
    color:#FCB502;
  }

#search-location *{
    background-color: #FCB502;
}

