
.navbar-student{
    background-color: #DBDBDB;
    height: 50px;
    justify-content: center;
    display: flex;
    box-shadow: var(--shadow-elevation-medium);
}

.messages, .settings, .control{
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--base-font-family);
    font-weight: 600;
    font-size: 18px;
}

.control:hover{
    border-bottom: 2px black solid;
    color: #5b5a5a;
    cursor: pointer;
}
.settings:hover{
    border-bottom: 2px black solid;
    color: #5b5a5a;
    cursor: pointer;
}
.messages:hover{
    border-bottom: 2px black solid;
    color: #5b5a5a;
    cursor: pointer;
}



:root {
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low:
      -0.3px 0.4px 0.6px hsl(var(--shadow-color) / 0.11),
      -0.4px 0.7px 0.9px -1.2px hsl(var(--shadow-color) / 0.11),
      -1.1px 1.8px 2.4px -2.5px hsl(var(--shadow-color) / 0.11);
    --shadow-elevation-medium:
      -0.3px 0.4px 0.6px hsl(var(--shadow-color) / 0.11),
      -0.9px 1.5px 2px -0.8px hsl(var(--shadow-color) / 0.11),
      -2.2px 3.7px 4.8px -1.7px hsl(var(--shadow-color) / 0.11),
      -5.5px 9.1px 12px -2.5px hsl(var(--shadow-color) / 0.11);
    --shadow-elevation-high:
      -0.3px 0.4px 0.6px hsl(var(--shadow-color) / 0.11),
      -1.6px 2.7px 3.5px -0.4px hsl(var(--shadow-color) / 0.11),
      -3px 5.1px 6.7px -0.7px hsl(var(--shadow-color) / 0.11),
      -5px 8.4px 11px -1.1px hsl(var(--shadow-color) / 0.11),
      -8px 13.4px 17.6px -1.4px hsl(var(--shadow-color) / 0.11),
      -12.5px 20.9px 27.4px -1.8px hsl(var(--shadow-color) / 0.11),
      -19.1px 31.8px 41.7px -2.1px hsl(var(--shadow-color) / 0.11),
      -28.1px 46.9px 61.5px -2.5px hsl(var(--shadow-color) / 0.11);

      --base-font-family: 'Libre Franklin',sans-serif;
  }